body {
	overflow-y: auto;
	overflow-x: hidden;
}

.content-about {
	width: 100%;
	height: 75vh;
	margin-top: 10vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.content-about .p {
	background: rgba(255, 255, 255, 0.137);
	min-height: 75vh;
	width: calc(93.4%/3);
	margin: 0 1.1%;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	backdrop-filter: blur(10px);
	padding: 10px;
	text-align: center;
	
}
.p3::before,
.p2::before,
.p1::before {
	content: "";
	position: absolute;
	width: 24vw;
	height: 2px;
	background: rgba(255, 0, 0, 0.527);
	top: -6.5vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.p3::after,
.p2::after,
.p1::after {
	content: "Cleaning company";
	position: absolute;
	text-align: center;
	background: hsl(0, 0%, 95%);
	padding: 0 5px;
	top: -8vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.p2::after {
	content: "Weather App";
}

.p1::after {
	content: "Cocktail App";
}

.p img {
	width: 40%;
	height: auto;
}
.fa-sass,
.fa-css3-alt,
.fa-html5,
.fa-js {
	font-size: 50px;
	padding: 0 10px;
}
.fa-sass {
	color: #CD6799;
}
.fa-css3-alt {
	color: #2965f1;
}

.fa-html5 {
	color: #f06529;
}

.fa-js {
	color: #f0db4f;
}

.overlay,
.overlay2,
.overlay3 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	border-radius: 20px;
	transition: .5s ease;
	background: linear-gradient(360deg, #e63946 10%, #0000009d 100%);
}

#text {
	color: white;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.p1:hover .overlay {
	opacity: 1;
}

.p2:hover .overlay2 {
	opacity: 1;
}

.p3:hover .overlay3 {
	opacity: 1;
}

@media (max-width:1200px) {
	.p1 {
		grid-area: p1;
		width: auto !important;
	}

	.p2 {
		grid-area: p2;
		width: auto !important;
	}

	.p3 {
		grid-area: p3;
		width: auto !important;
	}

	.content-about {
		display: grid;
		height: auto;
		grid-template-columns: 90vw;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: "p1""p2""p3";
		gap: 12vh 0;
		margin-top: 6vh;
	}

	.p3::before,
	.p2::before,
	.p1::before {
		width: 40vw;
	}
}

@media (max-width:768px) {
	.social-bar {
		width: 40px;
		height: 110px;
	}

	.fb,
	.yt,
	.in {
		width: 40px;
		height: calc(110px/3);
	}

	.social-bar a {
		font-size: 30px;
	}

	.p3::after,
	.p2::after,
	.p1::after {
		font-size: 12px;
		padding: 0 3px;
	}

	.p3::before,
	.p2::before,
	.p1::before {
		content: "";
		position: absolute;
		width: 70vw;
		height: 2px;
		background: rgba(255, 0, 0, 0.527);
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
	}

	.content-about .p {
		min-height: auto;
	}
}

@media (max-width:330px) {
	.content-about {
		margin-bottom: 40px;
	}

	.content-about .p:hover {
		transform: scale(1);
	}
}